/* small screen */
@media screen and (min-width: 800px) {
  #root {
    font-family: "Tahoma", sans-serif;
  }

  .homepage-container {
    width: 100%;
    min-height: 90vh;
  }

  #pic-credit {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  #pic-credit .space {
    opacity: 0;
  }

  #pic-credit a {
    color: black;
  }

  .signin #pic-credit {
    position: fixed;
    right: 10px;
    bottom: 0;
    background: #f9c743;
  }

  .signin #pic-credit .space {
    opacity: 0;
  }

  .signup #pic-credit {
    position: fixed;
    height: 20px;
    left: 10px;
    top: 95vh;
    background: #f9c743;
  }

  .signup #pic-credit a {
    color: black;
  }

  .signup #pic-credit .space {
    opacity: 0;
  }

  .dashboard #pic-credit {
    position: fixed;
    right: 10px;
    bottom: 0;
  }

  .dashboard #pic-credit a {
    color: black;
  }

  .dashboard #pic-credit .space {
    opacity: 0;
  }

  .signin-container {
    width: 100%;
    min-height: 90vh;
  }

  .brand {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }

  .col-6 {
    height: 50vh;
  }

  .col-6 h1 {
    font-size: 60px;
  }

  .col-6 h2 {
    font-size: 35px;
    font-weight: 100;
    margin: 20px 0 10px;
  }

  .col-6 p {
    font-size: 25px;
    font-weight: 100;
  }

  .col-6 .homepage-animate {
    width: 100%;
  }

  .col-6 .link {
    text-decoration: none;
    text-align: center;
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #60371e;
    font-weight: bold;
    font-size: 1.2rem;
    background: #f9c743;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.5s;
    margin-bottom: 10px;
  }

  .custom-btn {
    text-decoration: none;
    text-align: center;
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #000;
    background: #f9c743;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .custom-btn:hover {
    background: #d1bf91;
    color: #fff;
  }

  .custom-btn-navbar {
    height: 35px;
    width: 120px;
    color: #fff;
    background: #a6341b;
    border: 0;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
  }

  .custom-btn-navbar:hover {
    color: #000;
    background: #f9c743;
    border: 0;
  }

  .custom-btn-budget {
    margin-top: 20px;
    margin-left: 20px;
    width: 120px;
    border-width: 1px;
    background: transparent;
    border: solid;
    border-color: #f9c743;
    border-radius: 15px;
    height: 40px;
    font-weight: bold;
  }

  .custom-btn-budget:hover {
    border-color: #a6341b;
  }

  .col-6 .link img {
    display: none;
    width: 40px;
  }

  .col-6 .link:hover img {
    display: block;
  }

  .col-6 .link:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .left::after {
    content: "";
    width: 18px;
    height: 380px;
    background: linear-gradient(#a6341b, #ff6062);
    position: relative;
    left: -680px;
    top: 0px;
  }

  .signin p {
    font-size: 1.4rem;
    font-weight: 250;
  }

  .signin .signin-animate img {
    width: 58%;
    position: fixed;
    top: 64px;
  }

  .signin h1 {
    font-size: 40px;
  }

  .signin .form {
    width: 600px;
  }

  .signin .btn {
    font-weight: bold;
    width: 140px;
    border: none;
  }

  .signin .btn:hover {
    background: #b0dddf;
    color: #000;
    border: none;
  }

  .signin span {
    margin-left: auto;
  }

  .signup .signup-animate img {
    width: 58%;
    top: 64px;
    position: fixed;
    left: -100px;
    z-index: -1;
  }

  .signup p {
    font-size: 1.4rem;
    font-weight: 250;
  }

  .signup h1 {
    margin-left: 100px;
    font-size: 36px;
  }

  .signup .form {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 600px;
  }

  .signup .btn {
    font-weight: bold;
    width: 140px;
    border: none;
  }

  .signup .btn:hover {
    background: #489ac7;
    border: none;
  }

  .signup span {
    margin-left: auto;
  }

  .basicLayout .btn {
    margin-right: 30px;
    font-weight: bold;
  }

  .basicLayout .row {
    min-height: 93.6vh;
  }

  .basicLayout .sidebar {
    background: #f8f9fa;
    box-shadow: 3px 0px 3px #b7b7b7;
    line-height: 100px;
  }

  .basicLayout .sidebar .sidebar-btn {
    width: auto;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #fff;
    border: solid;
    border-width: 2px;
    border-radius: 20px;

    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;

    margin-left: 25px;
    margin-right: 25px;
    margin-top: 70px;
    margin-bottom: 30px;
  }

  .basicLayout .sidebar .sidebar-btn:hover {
    box-shadow: 5px 5px 5px #b7b7b7;
  }

  .view-port {
    border: solid;
    border-width: 2px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 50px;
    padding-bottom: 100px;
    padding-top: 30px;
    background: #f8f9fa;
    height: 800px;
  }

  .dashboard h1 {
    margin-top: 40px;
  }

  .dashboard h2 {
    color: #60371e;
  }

  .dashboard h3 {
    font-weight: 100;
  }

  .instructions-title {
    font-size: 24px;
    font-weight: 150;
    margin-top: 20px;
    font-weight: bold;
  }

  .dashboard p {
    font-size: 20px;
    font-weight: 100;
  }

  .dashboard img {
    width: 45%;
    margin-top: 30px;
  }

  .budget-modification {
    margin-top: 30px;
  }

  .pie-title {
    width: 220px;
    font-size: 1.6rem;
    margin-left: 30px;
    border: solid;
    border-radius: 18px;
    border-width: 2px;
    text-align: center;
  }

  .instruction-modal {
    position: absolute;
    top: 7%;
    left: 30%;
    bottom: auto;
    margin-right: -50%;
    background: white;
    width: 800px;
    padding: 50px 50px 50px 50px;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
  }

  .instruction-modal button {
    position: relative;
    left: 95%;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    background: #f9c743;
  }

  .instruction-modal button:hover {
    background: #d1bf91;
  }

  .instruction-button {
    position: absolute;
    right: 10%;
    top: 10%;
    background: #f9c743;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    font-weight: bold;
  }

  .instruction-button:hover {
    background: #a6341b;
    color: white;
  }
}

/* large screen */
@media screen and (min-width: 1800px) {
  #root {
    font-family: "Tahoma", sans-serif;
  }

  .homepage-container {
    width: 100%;
    min-height: 90vh;
  }

  #pic-credit {
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  #pic-credit .space {
    opacity: 0;
  }

  #pic-credit a {
    color: black;
  }

  .signin #pic-credit {
    position: fixed;
    right: 10px;
    bottom: 0;
    background: #f9c743;
  }

  .signin #pic-credit .space {
    opacity: 0;
  }

  .dashboard #pic-credit {
    position: fixed;
    right: 10px;
    bottom: 0;
    background: white;
  }

  .dashboard #pic-credit a {
    color: black;
  }

  .dashboard #pic-credit .space {
    opacity: 0;
  }

  .signin-container {
    width: 100%;
    min-height: 90vh;
  }

  .brand {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }

  .col-6 {
    height: 50vh;
  }

  .col-6 h1 {
    font-size: 60px;
  }

  .col-6 h2 {
    font-size: 35px;
    font-weight: 100;
    margin: 20px 0 10px;
  }

  .col-6 p {
    font-size: 25px;
    font-weight: 100;
  }

  .col-6 .homepage-animate {
    width: 140%;
  }

  .col-6 .link {
    text-decoration: none;
    text-align: center;
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #60371e;
    font-weight: bold;
    font-size: 1.2rem;
    background: #f9c743;
    border-radius: 10px;
    cursor: pointer;
    transition: width 0.5s;
    margin-bottom: 10px;
  }

  .custom-btn {
    text-decoration: none;
    text-align: center;
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #000;
    background: #f9c743;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .custom-btn:hover {
    background: #d1bf91;
    color: #fff;
  }

  .custom-btn-navbar {
    height: 40px;
    width: 120px;
    color: #fff;
    background: #a6341b;
    border: 0;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
  }

  .custom-btn-navbar:hover {
    color: #000;
    background: #f9c743;
    border: 0;
  }

  .custom-btn-budget {
    margin-top: 20px;
    margin-left: 20px;
    width: 120px;
    border-width: 1px;
    background: transparent;
    border: solid;
    border-color: #f9c743;
    border-radius: 15px;
    height: 40px;
    font-weight: bold;
  }

  .custom-btn-budget:hover {
    border-color: #a6341b;
  }

  .col-6 .link img {
    display: none;
    width: 40px;
  }

  .col-6 .link:hover img {
    display: block;
  }

  .col-6 .link:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .left::after {
    content: "";
    width: 18px;
    height: 380px;
    background: linear-gradient(#a6341b, #ff6062);
    position: relative;
    left: -680px;
    top: 0px;
  }

  .signin p {
    font-size: 1.5rem;
    font-weight: 250;
  }

  .signin .signin-animate img {
    width: 60%;
    top: 64px;
    position: fixed;
    right: -200px;
  }

  .signin h1 {
    font-size: 56px;
  }

  .signin .form {
    position: absolute;
    top: 35%;
    right: 60%;
    width: 700px;
  }

  .signin span {
    margin-left: auto;
  }

  .signup .signup-animate img {
    width: 60%;
    top: 64px;
    position: fixed;
    left: -200px;
  }

  .signup p {
    font-size: 1.5rem;
    font-weight: 250;
  }

  .signup h1 {
    margin-left: 100px;
    font-size: 50px;
  }

  .signup .form {
    position: absolute;
    top: 25%;
    left: 60%;
    width: 700px;
  }

  .signup .btn {
    font-weight: bold;
    width: 140px;
    border: none;
  }

  .signup .btn:hover {
    background: #489ac7;
    border: none;
  }

  .signup span {
    margin-left: auto;
  }

  .basicLayout .btn {
    margin-right: 30px;
    font-weight: bold;
  }

  .basicLayout .row {
    min-height: 93.6vh;
  }

  .basicLayout .sidebar {
    background: #f8f9fa;
    box-shadow: 3px 0px 3px #b7b7b7;
    line-height: 100px;
  }

  .basicLayout .sidebar .sidebar-btn {
    width: auto;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: #fff;
    border: solid;
    border-width: 4px;
    border-radius: 24px;

    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .basicLayout .sidebar .sidebar-btn:hover {
    box-shadow: 5px 5px 5px #b7b7b7;
  }

  .view-port {
    border: solid;
    border-width: 2px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 100px;
    padding-bottom: 100px;
    padding-top: 30px;
    background: #f8f9fa;
    height: 950px;
  }

  .dashboard h1 {
    margin-top: 140px;
    font-size: 4rem;
  }

  .dashboard h2 {
    color: #60371e;
    font-size: 3rem;
  }

  .dashboard h3 {
    font-weight: 100;
    font-size: 2rem;
  }

  .instructions h4 {
    font-size: 24px;
    font-weight: 150;
    margin-top: 20px;
    font-weight: bold;
  }

  .dashboard p {
    font-size: 20px;
    font-weight: 100;
  }

  .dashboard img {
    margin-top: 20px;
    width: 50%;
  }

  .budget-modification {
    margin-top: 30px;
  }

  .pie-title {
    width: 220px;
    font-size: 1.6rem;
    margin-left: 30px;
    border: solid;
    border-radius: 18px;
    border-width: 2px;
    text-align: center;
  }

  .instruction-modal {
    position: absolute;
    top: 25%;
    left: 35%;
    bottom: auto;
    margin-right: -50%;
    background: white;
    width: 800px;
    padding: 50px 50px 50px 50px;
    border-radius: 15px;
    border: solid;
    border-width: 1px;
  }

  .instruction-modal button {
    position: relative;
    left: 95%;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    background: #f9c743;
  }

  .instruction-modal button:hover {
    background: #d1bf91;
  }

  .instruction-button {
    position: absolute;
    right: 10%;
    top: 10%;
    background: #f9c743;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    font-weight: bold;
  }

  .instruction-button:hover {
    background: #a6341b;
    color: white;
  }
}
